.card-container{
  background-color: #ADE1E5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

*{
  font-family: 'Rubik', sans-serif;

}

.card-display{
  background-color: #ADE1E5;
}